@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
  }

  body {
    @apply bg-prakida-bg text-prakida-text font-sans overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display uppercase tracking-wider;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

@layer components {
  .glitch-wrapper {
    @apply relative inline-block;
  }

  .glitch-text::before,
  .glitch-text::after {
    content: attr(data-text);
    @apply absolute top-0 left-0 w-full h-full opacity-0 pointer-events-none;
  }

  .group:hover .glitch-text::before {
    @apply opacity-100 text-prakida-flame;
    animation: glitch-1 0.6s infinite linear alternate-reverse;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    transform: translate(-2px, 0);
  }

  .group:hover .glitch-text::after {
    @apply opacity-100 text-prakida-water;
    animation: glitch-2 0.6s infinite linear alternate-reverse;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    transform: translate(2px, 0);
  }
}

@keyframes glitch-1 {
  0% {
    clip-path: inset(40% 0 61% 0);
    transform: translate(-2px, 0);
  }

  20% {
    clip-path: inset(92% 0 1% 0);
    transform: translate(2px, 0);
  }

  40% {
    clip-path: inset(43% 0 1% 0);
    transform: translate(-2px, 0);
  }

  60% {
    clip-path: inset(25% 0 58% 0);
    transform: translate(2px, 0);
  }

  80% {
    clip-path: inset(54% 0 7% 0);
    transform: translate(-2px, 0);
  }

  100% {
    clip-path: inset(58% 0 43% 0);
    transform: translate(2px, 0);
  }
}

@keyframes glitch-2 {
  0% {
    clip-path: inset(24% 0 29% 0);
    transform: translate(2px, 0);
  }

  20% {
    clip-path: inset(54% 0 21% 0);
    transform: translate(-2px, 0);
  }

  40% {
    clip-path: inset(1% 0 4% 0);
    transform: translate(2px, 0);
  }

  60% {
    clip-path: inset(12% 0 85% 0);
    transform: translate(-2px, 0);
  }

  80% {
    clip-path: inset(89% 0 3% 0);
    transform: translate(2px, 0);
  }

  100% {
    clip-path: inset(62% 0 16% 0);
    transform: translate(-2px, 0);
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;

    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
